.dashboard{
    display:grid;
    grid-template-columns:65% 35%;
    gap:24px;
    padding:24px;
    background:#0B1120;
    min-height:calc(100vh - 90px);
    box-sizing:border-box;
}

.map-section{
    height:80vh;
}

.side-panel{
    height:80vh;
}