.navbar{

    height:70px;

    background:#0F172A;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 32px;

    border-bottom:1px solid rgba(255,255,255,.05);

}

.navbar-left h1{

    font-size:30px;

    font-weight:700;

    color:white;

}

.navbar-left p{

    margin-top:3px;

    color:#94A3B8;

    font-size:13px;

}

.live-status{

    padding:8px 18px;

    border-radius:25px;

    background:#111827;

    border:1px solid rgba(255,255,255,.08);

}

.live-status span{

    color:white;

}